[submodule "vagrant/puppet/modules/stdlib"]
	path = vagrant/puppet/modules/stdlib
	url = https://github.com/purpleidea/puppetlabs-stdlib.git
[submodule "vagrant/puppet/modules/apt"]
	path = vagrant/puppet/modules/apt
	url = https://github.com/purpleidea/puppetlabs-apt.git
[submodule "vagrant/puppet/modules/common"]
	path = vagrant/puppet/modules/common
	url = https://github.com/purpleidea/puppet-common.git
[submodule "vagrant/puppet/modules/keepalived"]
	path = vagrant/puppet/modules/keepalived
	url = https://github.com/purpleidea/puppet-keepalived.git
[submodule "vagrant/puppet/modules/puppet"]
	path = vagrant/puppet/modules/puppet
	url = https://github.com/purpleidea/puppet-puppet.git
[submodule "vagrant/puppet/modules/shorewall"]
	path = vagrant/puppet/modules/shorewall
	url = https://github.com/purpleidea/puppet-shorewall.git
[submodule "vagrant/puppet/modules/yum"]
	path = vagrant/puppet/modules/yum
	url = https://github.com/purpleidea/puppet-yum.git
[submodule "vagrant/puppet/modules/module-data"]
	path = vagrant/puppet/modules/module-data
	url = https://github.com/purpleidea/puppet-module-data.git
